@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Dark mode version colors var */
    html.dark {
        --full-light: #6B728E;
        --light-opacity: rgba(217, 217, 217, 0.1);
        --avarage-color: #474E68;
        --dark-color: #404258;
        --full-dark: #474E68;
    }

    /* Light mode version colors var */
    html {
        --full-light: #fff;
        --light-opacity: #CED4DA;
        --avarage-color: #E9ECEF;
        --dark-color: #495057;
        --full-dark: #495057;
    }

    body {
        @apply text-white;
    }
}